/* Basic styling for the body */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

/* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
}

/* Logo container styling */
.logo-container {
    position: relative;
    display: flex;
    align-items: center;
}

.logo-image {
    height: 80px; /* Adjust the height as needed */
    z-index: 1;
}

.app-name {
    position: right;
    left: 10px;
    font-size: 24px;
    color: #fff;
    /* z-index: 2;
    background-color: rgba(0, 0, 0, 0.5); 
    padding: 5px 10px;  */
}

/* Navigation menu styling */
header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-left: 20px;
}

/* Navigation links styling */
header nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

/* Menu toggle button styling */
.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle .hamburger {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 4px 0;
}

/* Responsive design for screens smaller than 768px */
@media (max-width: 768px) {
    /* Hide the navigation menu */
    nav ul {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
    }

    nav ul li {
        text-align: center;
        margin: 10px 0;
    }

    /* Show the menu toggle button */
    .menu-toggle {
        display: flex;
    }

    /* Show the navigation menu when .nav-links-visible class is added */
    .nav-links.nav-links-visible {
        display: flex;
    }
}


/* Footer styling */
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.footer-section {
    flex: 1;
    margin: 10px;
}

.footer-section h3 {
    margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-section ul li a:hover {
    text-decoration: underline;
}

.footer-section .social a {
    margin-right: 10px;
}

.footer-section .social a img {
    width: 24px;
    height: 24px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    border-top: 1px solid #444;
    margin-top: 20px;
}

/* Responsive design for footer */
@media (max-width: 768px) {
    .footer-content {
        flex-direction: column;
        align-items: center;
    }

    .footer-section {
        text-align: center;
        margin: 20px 0;
    }
}
